h2 {
    text-align: center;
}
body {
    text-align: center;
}
.form {
   padding: 10px;
   border: solid 1px black;
   display: inline-block;
}
div {
    text-align: center;
    align-self: center;
    align-content: center;
}
input[type="submit"] {
   /* font-size: 20px;*/
    width: 200px;
}
input[type="text"] {

}